        /* ------------------------- LANDSCAPE DESKTOP ------------------------- */
:root{
    --p-dh-flex-direction: row;
    --p-dh-align-items   : flex-start;
    --p_intro_image1-size: 50%;
    --p_svg_bg-width     : 400px;
    --p_svg_bg-height    : 140px;
    --head-padding       : 10px 10px 10px 10px;
    --tag-padding        : 5px 15px 5px 15px;
    --divider-icon-size  : 30px;
    --divider-margin     : 20px 0px 20px 0px;
    --button-padding     : 5px 10px 5px 10px;
}
        /* ------------------------- PORTRAIT DESKTOP ------------------------- */
@media screen and (min-width: 1280px) and (min-height: 100vw){
    :root{
        --p-dh-flex-direction: column;
        --p-dh-align-items   : center;
        --p_intro_image1-size: 180%;
        --p_svg_bg-width     : 200px;
        --p_svg_bg-height    : 70px;
        --head-padding       : 10px 10px 10px 10px;
        --tag-padding        : 5px 15px 5px 15px;
        --divider-icon-size  : 20px;
        --divider-margin     : 20px 0px 20px 0px;
        --button-padding     : 7px 0px 7px 0px;
    }
}
        /* ------------------------- PORTRAIT MOBILE ------------------------- */
@media screen and (max-width: 1280px){
    :root{
        --head-padding       : 3px 3px 3px 3px;
        --p-dh-flex-direction: column;
        --p-dh-align-items   : center;
        --p_intro_image1-size: 100%;
        --tag-padding        : 2.5px 5px 2.5px 5px;
        --divider-icon-size  : 20px;
        --divider-margin     : 12px 0px 12px 0px;
        --button-padding     : 2.5px 5px 2.5px 5px;
    }
}
        /* ------------------------- LANDSCAPE MOBILE ------------------------- */
@media screen and (max-width: 1280px) and (min-width: 100vh){
    :root{
        --head-padding       : 3px 3px 3px 3px;
        --p_intro_image1-size: 50%;
        --p-dh-flex-direction: row;
        --p-dh-align-items   : flex-start;
        --tag-padding        : 2.5px 5px 2.5px 5px;
        --divider-icon-size  : 20px;
        --divider-margin     : 12px 0px 12px 0px;
        --button-padding     : 2.5px 5px 2.5px 5px;
    }
}
  

.FRUIT {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : 2;
}
.FRUITC {
    width : 100%;
    height: 100%;
}

#PEAR{
    display: flex;
    opacity: 0;
}
#LIME{
    display: flex;
    opacity: 0;
}
#APPLE{
    display: flex;
    opacity: 0;
}
#EPEAR{
    display: flex;
    opacity: 0;
}

#page_footer{
    border-bottom: none;
    border-top   : solid 1px black;
}

.page_header{
    position: relative;
    height  : var(--header);
    width   : 100%;
          /* background-color: rgb(243, 243, 243); */
    border-bottom: solid 1px black;
    border-top   : none;

    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;

    font-size: 1vw;
    padding  : var(--head-padding);
}
.page_content{
    width          : 100%;
    height         : calc(var(--h) - var(--headers));
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding        : 0px 0px 0px 0px;
}
.includer{
    position       : relative;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
  }


.p_svg_bg{
    position: absolute;
    z-index : 0;
    left    : var(--content-pad-size);
    bottom  : 0px;
    width   : var(--p_svg_bg-width);
    height  : var(--p_svg_bg-height);
}

.p_title{
    position: relative;
    z-index : 1;

    height     : var(--title_big);
    line-height: var(--title_big);;
    font-size  : var(--title_big);
}

.p_tags{
    z-index        : 1;
    position       : relative;
    width          : 100%;
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: space-between;
    margin-bottom  : 10px;
    right          : 0px;

}
.p_tag{
    padding         : var(--tag-padding);
    background-color: #fff;
}


.p_intro_image1{
    position  : absolute;
    z-index   : 0;
    width     : var(--p_intro_image1-size);
    max-height: 250%;
    bottom    : calc( var(--header) / 2 );
    right     : 0vw;
}

.p_descrip_holder{
    display        : flex;
    flex-direction : var(--p-dh-flex-direction);
    align-items    : var(--p-dh-align-items);
    justify-content: space-between;
    width          : 100%;
          /* height         : 50%; */
}

.p_buttons{
    stroke: none;
    fill  : rgb(180,180,180,.01);
    cursor: pointer;
}
.p_image2{
    width : 100%;
    height: 100%;
}
.p_image3{
    width : 100%;
    height: 100%;
}
.p_image4{
    width : 100%;
    height: 100%;
}

.rails_1{
    stroke: rgb(255, 255, 255);
          /* stroke-dasharray: 55 20; */
    stroke-width  : 2px;
    stroke-linecap: round;
}


.canvasy{
    width     : 100%;
    max-height: 100%;
    overflow  : hidden;
}


.button{
    padding         : var(--button-padding);
    background-color: red;
    color           : white;
    width           : auto;
    cursor          : pointer;
    border          : solid 1px red;
}
.button:hover{
    background-color: white;
    color           : red;
    border-radius   : 5px;
    border          : solid 1px red;
    transition      : background-color .8s, color .5s, border-radius .35s;
}
  
.divider{
    position        : relative;
    width           : 100%;
    height          : 1px;
    background-color: rgb(0, 0, 0);
    margin          : var(--divider-margin);
}
  
.divider_symbol{
    position : absolute;
    width    : var(--divider-icon-size);
    height   : var(--divider-icon-size);
    transform: translate(-50%, -50%);
}
  
  