
/* ------------------------- LANDSCAPE DESKTOP ------------------------- */
:root{
  --w : 100dvw;
  --h : 100dvh;
  --headers  : 6dvh;
  --header   : calc(6dvh / 2);
  --bg: rgb(225, 225, 225);
  --content-padding : 0px 10px 0px 10px;
  --content-pad-size: 10px;
}
/* ------------------------- PORTRAIT DESKTOP ------------------------- */
@media screen and (min-width: 1280px) and (min-height: 100vw){
  :root{
    --w : 100dvw;
    --h : 100dvh;
    --headers : 6dvh;
    --content-padding : 0px 10px 0px 10px;
    --content-pad-size: 10px;
  }
}
/* ------------------------- PORTRAIT MOBILE ------------------------- */
@media screen and (max-width: 720px){
  :root{
    --w : 100dvw;
    --h : 100dvh;
    --headers : 7dvh;
    --header  : calc(7dvh / 2);
    --content-padding : 5px 5px 0px 5px;
    --content-pad-size: 5px;
  }
}
/* ------------------------- LANDSCAPE MOBILE ------------------------- */
@media screen and (max-width: 1280px) and (min-width: 100vh){
  :root{
    --w : 100dvw;
    --h : 100dvh;
    --headers : 8dvh;
    --header  : calc(8dvh / 2);
    --content-padding : 0px 6px 0px 6px;
    --content-pad-size: 6px;
  }
}



*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}


a{
  text-decoration: none;
  color:rgb(123, 123, 123);
}

::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
body {
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}
@-moz-document url-prefix(){
  html{
    scrollbar-width: none;
  }
}


#loader{
  position:fixed;
  right:0px;top:0px;left:0px;bottom:0px;
  z-index: 99999;
  width:100vw;
  height:100vh;
  background-color: var(--bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html {
  touch-action: manipulation;
  overscroll-behavior: none;
}
body {
  position: fixed;
  scrollbar-width: none;
  font-family: Neue Montreal Regular;
  color    : rgb(170,170,170);
  font-size: 30px;

  background: var(--bg);

  padding:0px 0px 0px 0px;
  
  width     : calc(var(--w) - 10px);
  height    : 800vh;
  
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style:none;
  
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.holder{
  position  : relative;
  width     : calc(var(--w) - 10px);
  height    : calc(var(--h));
  /* margin-bottom:10px; */
  overflow-y: hidden;
  overflow-x: hidden;
  padding   : 0px;
  box-sizing: border-box;
}
#i2, #i7, #i12, #i17, #i22{
  height    : calc(var(--h));
  width     : 500vw;
  overflow-y: hidden;
  overflow-x: hidden;
  
  display           : inline-grid;
  flex-flow         : row;
  grid-auto-flow    : row;
  vertical-align    : baseline;
  grid-column-gap   : 0px;
  grid-row-gap      : 0px;
  grid-template-rows: auto;
  
  grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
  grid-auto-columns    : 100vw;
  
  justify-content: start;
  align-items    : center;
}
.pagecell{
  position: relative;

  overflow-y: hidden;
  overflow-x: hidden;
  
  width    : 100%;
  height   : 100%;

  display: flex;
  flex-flow: column;
  
}
.horiz_pics{
  margin : 0;
  padding: 0;
  height :  calc(var(--h) - var(--headers));
  
}
.bg{
  width     : 700vw;
  height    : 100%;
  
  position: relative;
  
  display        : flex;
  flex-direction : row;
  justify-content: left;
  align-items    : top;
  
  cursor: grab;
  
  user-drag        : none;
  -webkit-user-drag: none;
}

.item0,.item1,.item2,.item3, .item4{

  position  : relative;
  
  overflow-y: hidden;
  overflow-x: hidden;
  

  width     : 100%;
  height    : 100%;

  color     : rgb(170,170,170);
  font-size : 30px;
}

#item0_1:active{
  opacity: .2;
  transition: all .5s;
}


.dragWarning {
  
  user-drag          : none;
  -webkit-user-drag  : none;
  user-select        : none;
  -moz-user-select   : none;
  -webkit-user-select: none;
  -ms-user-select    : none;
  
  position: absolute;
  z-index : 999999;
  
  color      : whitesmoke;
  font-family: Arial;
  
  padding: 20px;
  
  font-size: 1em;
  
  display        : flex;
  justify-content: center;
  align-items    : center;
  
  cursor: grab;
  
}
#cursor_anim{
  position: absolute;
  z-index: 999;
  width:100vw;
  height:100vh;
  user-select: none;
  overflow: hidden;
  /* pointer-events:none; */
}