#page5include{
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: var(--page-center);
}
#p2_description4{
    position: absolute;
    width:var(--p1d3-width);
    right:10vw;

    padding:20px;
    z-index: 2;
    transform: translate(-50%, -50%);
}
#p2_image_path1{
    position: absolute;
    z-index: 0;
    width: var(--p1_image_width);
    height: var(--p1_image_width);
}
#p2_image13{
    z-index: 1;
    width: var(--p1_image_width);
    height: var(--p1_image_width);
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}