#page7include{
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    padding        : var(--content-padding);
}
#p3_description{
    z-index         : 2;
    position        : relative;
    background-color: rgb(255, 255, 255);
    padding         : 10px;
}
#p3_description2{
    z-index         : 2;
    position        : relative;
    background-color: #ca94fc;
    padding         : 10px;
}
#p3_title{
    z-index        : 2;
    width          : 100%;
}
#p3_intro_image{
    position  : absolute;
    bottom    : 0%;
    left      : 0px;
    height    : 100%;
    width     : 100%;
    max-height: none;
    transform : translate(0%, 0%);
  
    background-image   : url("https://uploads-ssl.webflow.com/5e87b1c5bcf6e1005fbd96f8/66ab7837f73707dd4333e728_thumbnail.avif");
    background-size    : var(--intro_image_bg_size);
    background-position: bottom 0px right 50%;
    background-repeat  : no-repeat;
}