
  

#page7include{
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    padding        : var(--content-padding);
}

.bg1_pth0{
    stroke      : rgb(255, 255, 255);
    stroke-width: 30px;
}


#p3_description{
    z-index       : 1;
    position   : relative;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
#p3_description2{
    z-index       : 1;
    position   : relative;
    background-color: #ca94fc;
    padding: 10px;
}


#p3_title{
    width: 100%;
    justify-content: space-between;
}

#p2_intro_image{
    /* top:50%; */
    bottom: -100%;
    left:50%;
    width:200%;
    transform: translate(-50%, -50%) rotate(25deg) ;
}