



#npxyz_pc23{
  display        : flex;
  flex-direction : row;
  align-items    : flex-start;
  justify-content: flex-start;
  padding        : var(--content-padding);
}


.about_links{
  display        : flex;
  flex-direction : row;
  align-items    : flex-end;
  justify-content: flex-end;
}


.about_socials{
  width          : 50%;
  height         : 100%;
  display        : flex;
  flex-direction : column;
  align-items    : flex-start;
  justify-content: flex-start;
}

.about_cv{
  width          : 50%;
  height         : 100%;
  display        : flex;
  flex-direction : row;
  align-items    : flex-end;
  justify-content: flex-end;
}



#about_bg_svg{
  position: absolute;
  z-index: 0;
  width: 80%;
  right:0px;
  top:0px;
}

.socials_tag{
  margin-bottom: 10px;
}

.aboutsymb1{
  left:35%;
}

.aboutsymb2{
  left:80%;
}