/* ------------------------- LANDSCAPE DESKTOP ------------------------- */
:root{
    --menu-image-right : 0px;
    --menu-image-bottom: none;
}
/* ------------------------- PORTRAIT DESKTOP ------------------------- */
@media screen and (min-width: 1280px) and (min-height: 100vw){
:root{
    --menu-image-right : none;
    --menu-image-bottom: 0px;
}
}
/* ------------------------- PORTRAIT MOBILE ------------------------- */
@media screen and (max-width: 1280px){
:root{
    --menu-image-right : none;
    --menu-image-bottom: 0px;
}
}
/* ------------------------- LANDSCAPE MOBILE ------------------------- */
@media screen and (max-width: 1280px) and (min-width: 100vh){
:root{
    --menu-image-right : 0px;
    --menu-image-bottom: none;
}
}
#page1include{
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    padding : var(--content-padding);
}
#page1_menu{
    width          : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    text-align     : center;
}
.menu_item{
    position   : relative;
    z-index    : 10;

    
    height     : calc( var(--paragraph_big) + .4vw);
    line-height: var(--paragraph_big);
    font-size  : var(--paragraph_big);

}
#bg_particle_pg1{

    background-color: rgb(0, 0, 0, .5);
    position        : absolute;
    width           : 10px;
    height          : 10px;
    z-index         : 3;

    right : 10%;
    bottom: 10%;

    transform: translate(-50%, -50%);

    border-radius: 3000px;
}
.menu_image{
    position: absolute;
    width:100%;
    height:100%;
    right : var(--menu-image-right);
    bottom: var(--menu-image-bottom);

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 0;
}
#bg_svg_pg1{
    position: absolute;
    width   : 140%;
    height  : 140%;
}
.bg_paper_pth0{
    stroke: blue;
}
.bg_paper_pth1{
    stroke          : red;
    stroke-dasharray: 10;
}
.bg_paper_pth2{
    stroke: red;
}
#post_menu{
    position: relative;
    z-index: 10;
}