
#page2include{
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    padding        : var(--content-padding);
}

.bg1_pth0{
    stroke      : rgb(255, 255, 255);
    stroke-width: 30px;
}


#p2_description{
    z-index       : 2;
    position   : relative;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
#p2_description2{
    z-index       : 2;
    position   : relative;
    background-color: rgb(255, 238, 0);
    padding: 20px;
}



#p2_title{
    width: 100%;
    /* justify-content: space-between; */
    z-index       : 2;
}

#p2_intro_image{
    right:0px;
  }