
/* ------------------------- LANDSCAPE DESKTOP ------------------------- */
:root{
  }
  /* ------------------------- PORTRAIT DESKTOP ------------------------- */
  @media screen and (min-width: 1280px) and (min-height: 100vw){
    :root{
    }
  }
  /* ------------------------- PORTRAIT MOBILE ------------------------- */
  @media screen and (max-width: 720px){
    :root{
    }
  }
  /* ------------------------- LANDSCAPE MOBILE ------------------------- */
  @media screen and (max-width: 1280px) and (min-width: 100vh){
    :root{
    }
  }


  

#page2include{
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    padding        : var(--content-padding);
}

.bg1_pth0{
    stroke      : rgb(255, 255, 255);
    stroke-width: 30px;
}


#p1_description{
    z-index       : 1;
    position   : relative;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
#p1_description2{
    z-index       : 1;
    position   : relative;
    background-color: rgb(38, 190, 0);
    padding: 10px;
}



#p1_title{
    width: 100%;
    justify-content: space-between;
    color: rgb(253, 54, 80);
}