
  

#page17include{
    position       : relative;
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    padding        : var(--content-padding);
}

.bg1_pth0{
    stroke      : rgb(255, 255, 255);
    stroke-width: 30px;
}


#p4_description{
    z-index         : 1;
    position        : relative;
    background-color: rgb(255, 255, 255);
    padding         : 10px;
}
#p4_description2{
    z-index         : 1;
    position        : relative;
    background-color: #f67f6a;
    padding         : 10px;
}


#p4_title{
    width          : 100%;
    justify-content: space-between;
}

#p4_intro_image{
    position: absolute;
    bottom  : 0%;
    right   : 5px;
    transform: translate(-10%, 25%);
}