
  

#page17include{
    position       : relative;
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    justify-content: flex-start;
    padding        : var(--content-padding);
}

.bg1_pth0{
    stroke      : rgb(255, 255, 255);
    stroke-width: 30px;
}


#p4_description{
    z-index         : 2;
    position        : relative;
    background-color: rgb(255, 255, 255);
    padding         : 10px;
}
#p4_description2{
    z-index         : 2;
    position        : relative;
    background-color: #2da8ff;
    padding         : 10px;
}


#p4_title{
    width          : 100%;
    justify-content: space-between;
}

#p4_intro_image{
    position  : absolute;
    bottom    : 0%;
    left      : 0px;
    height    : 100%;
    width     : 100%;
    max-height: none;
    transform : translate(0%, 0%);

    background-image   : url("https://uploads-ssl.webflow.com/5e87b1c5bcf6e1005fbd96f8/66a3eac5ff6a5f900fbe29bf_thumbnail.avif");
    background-size    : var(--intro_image_bg_size);
    background-position: bottom 0px right 50%;
    background-repeat  : no-repeat;
}