#page16include{
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: var(--page-center);
}
#p3_description5{
    position: absolute;
    width:var(--p1d3-width);
    right:10vw;

    padding:20px;
    background-color: white;
    z-index: 2;
    transform: translate(-50%, -50%);
}
#p3_image_path2{
    position: absolute;
    z-index: 0;
    width: var(--p1_image_width);
    height: var(--p1_image_width);
}
#p3_image14{
    position: relative;
    z-index: 1;
    width: 80%;
    height: 80%;
}